/* .flex-container {
    display: flex;
    background-color: gold;
    display: inline;
  }
   */
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }

.enter{
    float:right;
    size:20px;
}
